section#bounties
  //

  form#bounties-form
    max-width: 640px
    margin: 0 auto

    label
      position: relative

      i
        color: $negative-color
        font-size: 0.4rem
        position: absolute
        margin-top: 0.45rem
        margin-left: 0.3rem
